<div class='nested-fields'>
  <%= f.collection_select :id, Klass.all, :id, :name, prompt: true %>
  <%= f.fields_for :character_klass_attributes do |character_klass|%>
    <%= render "character_klass_attribute_fields", :f => character_klass %>
  <%end%>
</div>